@font-face {
  font-family: "fun-font";
  src: url("../fonts/fun-font.ttf") format("truetype");
}

* {
  font-family: "fun-font";
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

body {
  position: absolute;
  max-width: 100%;
  height: auto;
  background-image: url("../IMAGENES/background.jpeg");
  /*background-image: url("IMAGENES/background.jpeg");*/
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  align-content: center;
  font-size: 100%;
  background-attachment: fixed; /* Opcional: mantiene la imagen en su lugar mientras se desplaza la página */
}

#comment-input-contairner {
  color: red;
}


.img-logo {
  border-radius: 20px;
  width: 170px;
  height: 170px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  transform: translate(50%);
}


.title-h {
  background-color: #7cb8f2;
  width: 194px;
  width: fit-content;
  height: 62px;
  flex-shrink: 0;
  border-radius: 20px;
  justify-content: center;
  display: flex;
  align-items: center;
  font-family: "fun-font";
  font-size: 28px;
  margin: 10px;
  padding: 20px 20px;
  backdrop-filter: blur(15px);
  box-shadow: 5px 5px #050834;
  font-weight: 700;
  transform: translate(30%);

}

.title,
.title-r {
  background-color: #7cb8f2;
  width: 194px;
  width: fit-content;
  height: 62px;
  flex-shrink: 0;
  border-radius: 20px;
  justify-content: center;
  display: flex;
  align-items: center;
  font-family: "fun-font";
  font-size: 28px;
  margin: 10px;
  padding: 20px 20px;
  backdrop-filter: blur(15px);
  box-shadow: 5px 5px #050834;
  font-weight: 700;
  transform: translate(70%);
}
.email,
.password {
  background-color: #050834;
  color: white;
  box-shadow: 0px 1px 2px 0px #7cb8f2;
  text-align: center;
  margin: 10px;
  padding: 0px;
  font-family: "fun-font";
  font-size: 14px;
  border: none;
  border-bottom: 1px solid #d5d5d5;
  outline: none;
  width: 150px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 20px;
  transform: translate(50%);
}

.div-l,
.div-r,
.div-h {
  flex-direction: column;
  display: flex;
  font-family: "fun-font";
  font-size: 14px;
  align-items: center;
  justify-content: center;

}

.checking,
.button-login,
.button-google,
.button-send,
.button-h {
  background-color: #d5d5d5;
  margin: 7px;
  border-radius: 20px;
  padding: 0px;
  font-family: "fun-font";
  font-size: 14px;
  width: 150px;
  height: 40px;
  flex-shrink: 0;
  justify-content: center;
  transform: translate(50%);
  
}
.button-google img {
  width: 20px; /* Ajusta el ancho del logotipo según tus preferencias */
  margin-right: 5px; /* Espacio entre el logotipo y el texto */
}

.text-r {
  background-color: #7cb8f2;
  font-family: "fun-font";
  width: 180px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 20px;
  justify-content: center;
  display: flex;
  align-items: center;
  font-size: 16px;
  margin: 10px;
  padding: 0px;
}

#email-r,
#password-r {
  background-color: #050834;
  color: white;
  box-shadow: 0px 1px 2px 0px #7cb8f2;
  text-align: center;
  margin: 10px;
  padding: 0px;
  font-family: "fun-font";
  font-size: 14px;
  border: none;
  border-bottom: 1px solid #d5d5d5;
  outline: none;
  width: 150px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 20px;
}
.header-w {
  height: 100px;
  background-color: #050834;
  display: flex;
  justify-content: space-between; /* Alinea los elementos en el espacio entre ellos */
  align-items: center; /* Centra verticalmente los elementos en el encabezado */
  font-family: 'fun-font';
 
  
}
.logo-header-w {
  max-width: 100%; /* Limita el ancho de la imagen al ancho del encabezado */
  max-height: 70px; /* Limita la altura de la imagen a 100 píxeles */
  justify-items: center;

}
.title-w {
  margin: 20px;
  font-family: 'fun-font';
  font-size: 35px; /* Tamaño de fuente */
  color: #7cb8f2; /* Color del texto */
}
.logOut {
  margin: 20px;
  background-color: #7cb8f2; /* Color de fondo */
  color: #050834; /* Color del texto */
  padding: 10px 20px; /* Relleno (ajústalo según sea necesario) */
  border: none; /* Sin borde */
  border-radius: 9px; /* Esquinas redondeadas */
  cursor: pointer; /* Cambia el cursor al pasar el ratón */
  font-family: 'fun-font';
}
.logOut:hover {
  background-color: #7cb8f2;
  transform: scale(1.1); /* Cambia el color de fondo al pasar el ratón */
}

.footer-w {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #050834;
  color: white;
  padding: 10px;
  font-family: 'fun-font';
}
.comments {
  position: relative;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  align-items: center; /* Centra el contenido horizontalmente */
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  background-color: #e0e5eb; /* Un tono azul claro */
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  max-width: 100%; /* Hace que el comentario se adapte al ancho de la pantalla */
  font-family: 'fun-font';
  min-height: 100%;
}
.comments:hover {
  background-color: #c9d1d9; /* Cambia el color de fondo al pasar el ratón por encima */
  transition: background-color 0.3s ease; /* Agrega una transición suave */
}
.error-message{
  width: fit-content;
  flex-shrink: 0;
  border-radius: 20px;
  justify-content: center;
  display: flex;
  align-items: center;
  font-family: "fun-font";
  font-size: 20px;
  margin: 10px;
  padding: 20px 20px;
  backdrop-filter: blur(15px);
  box-shadow: 5px 5px #050834;
  font-weight: 700;
}
.return-button{
  margin: 20px;
  background-color: #7cb8f2; /* Color de fondo */
  color: #050834; /* Color del texto */
  padding: 10px 20px; /* Relleno (ajústalo según sea necesario) */
  border: none; /* Sin borde */
  border-radius: 9px; /* Esquinas redondeadas */
  cursor: pointer; /* Cambia el cursor al pasar el ratón */
  font-family: 'fun-font';
  margin-top: 5px;
  font-size: 32px;
  transform: translate(90%);
}

.go-home-message{
  width: fit-content;
  flex-shrink: 0;
  justify-content: center;
  display: flex;
  align-items: center;
  font-family: "fun-font";
  font-size: 20px;
  margin: 10px;
  padding: 20px 20px;
  font-weight: 700;
  margin-bottom: 5px; 
}
#comment-input {
  background: linear-gradient(45deg, #7cb8f2, #3a5998); /* Degradado de azules */
  text-align: center;
  margin: 10px;
  padding: 5px; /*Añadido un poco de espacio de relleno para mayor comodidad */
  font-family: "fun-font";
  font-size: 16px; /* Ajustado el tamaño de la fuente */
  border: none;
  outline: none;
  width: 90%; /* Ancho del 100% para ser responsive */
  max-width: 400px; /* Establecido un ancho máximo para evitar que se extienda demasiado en pantallas grandes */
  height: 60px; /* Ajustado la altura */
  flex-shrink: 0;
  border-radius: 10px; /* Ajustado el radio del borde para hacerlo más redondeado */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Agregada una sutil sombra */
  transition: background 0.3s ease; /* Transición suave para el cambio de color de fondo */
}
#comment-input::placeholder {
  color: #050834; /* Cambia el color del texto del placeholder aquí */
}
#comment-input:hover {
  background: linear-gradient(45deg, #5c97d3, #2d4783); /* Cambio de color de fondo al pasar el mouse */
}

.delete {

flex-direction: inherit;  
padding: 5px;
bottom: 0px;
}

.like-button {
  flex-direction: inherit;  
  padding: 5px; 
  bottom: 0px;

}

.edit-button {
  flex-direction: inherit;  
padding: 5px;
bottom: 0px;
}

#publish-button{
    margin: 20px;
    background-color: #7cb8f2; /* Color de fondo */
    color: #050834; /* Color del texto */
    padding: 10px 20px; /* Relleno (ajústalo según sea necesario) */
    border: none; /* Sin borde */
    border-radius: 9px; /* Esquinas redondeadas */
    cursor: pointer; /* Cambia el cursor al pasar el ratón */
    font-family: 'fun-font';
  }
  #publish-button:hover {
    background-color: #7cb8f2;
    transform: scale(1.1); /* Cambia el color de fondo al pasar el ratón */
  }
