.container {
  background-color: #050834;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

body {
  /* background-image: url("IMAGENES/background.png");*/
  background-color: #050834;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  align-content: center;
}

.img-logo {
  border-radius: 20px;
  width: 170px;
  height: 170px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.title,
.title-r,
.title-h {
  background-color: #7cb8f2;
  width: 194px;
  height: 62px;
  flex-shrink: 0;
  border-radius: 20px;
  justify-content: center;
  display: flex;
  align-items: center;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  margin: 10px;
  padding: 0px;
}

.email,
.password {
  background-color: #050834;
  color: white;
  box-shadow: 0px 1px 2px 0px #7cb8f2;
  text-align: center;
  margin: 10px;
  padding: 0px;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  border: none;
  border-bottom: 1px solid #d5d5d5;
  outline: none;
  width: 150px;
  height: 40px;
  flex-shrink: 0;
}

.div-l,
.div-r,
.div-h {
  flex-direction: column;
  display: flex;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  align-items: center;
}

.checking,
.button-login,
.button-google,
.button-send,
.button-h {
  background-color: #d5d5d5;
  margin: 7px;
  border-radius: 20px;
  padding: 0px;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  width: 150px;
  height: 40px;
  flex-shrink: 0;
  justify-content: center;
}

.text-r {
  background-color: #7cb8f2;

  width: 180px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 20px;
  justify-content: center;
  display: flex;
  align-items: center;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  margin: 10px;
  padding: 0px;
}

#email-r,
#password-r{
background-color: #050834;
color: white;
box-shadow: 0px 1px 2px 0px #7cb8f2;
text-align: center;
margin: 10px;
padding: 0px;
font-family: "Inter", sans-serif;
font-size: 14px;
border: none;
border-bottom: 1px solid #d5d5d5;
outline: none;
width: 150px;
height: 40px;
flex-shrink: 0;
}